# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
npm-debug.log
yarn-error.log

# React Native
.expo/
.metro/

# iOS
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/
DerivedData/
Pods/
build/

# Android
.gradle/
local.properties
.idea/
build/
*.iml

# macOS
.DS_Store
